# Importing Libraries

In [1]:
import pandas as pd
import gspread 
from gspread_dataframe import set_with_dataframe

# Importing Dataset

In [2]:
df=pd.read_csv("files/Movies.csv")

In [3]:
df #Preview Dataset

,id,adult,title,original_language,overview,title.1,popularity,release_date,vote_average,vote_count
0,278,False,The Shawshank Redemption,en,Framed in the 1940s for the double murder of h...,The Shawshank Redemption,86.715,23/9/1994,8.7,21988
1,19404,False,Dilwale Dulhania Le Jayenge,hi,"Raj is a rich, carefree, happy-go-lucky second...",Dilwale Dulhania Le Jayenge,54.110,19/10/1995,8.7,3769
2,238,False,The Godfather,en,"Spanning the years 1945 to 1955, a chronicle o...",The Godfather,121.661,14/3/1972,8.7,16371
3,424,False,Schindler's List,en,The true story of how businessman Oskar Schind...,Schindler's List,55.646,15/12/1993,8.6,13038
4,240,False,The Godfather Part II,en,In the continuing saga of the Corleone crime f...,The Godfather Part II,62.479,20/12/1974,8.6,9868
...,...,...,...,...,...,...,...,...,...,...
9975,19543,False,Anacondas: Trail of Blood,en,"A genetically created Anaconda, cut in half, r...",Anacondas: Trail of Blood,33.694,27/2/2009,4.9,227
9976,240483,False,Robot Overlords,en,Earth has been conquered by robots from anothe...,Robot Overlords,32.508,29/1/2015,4.9,213
9977,14863,False,Anaconda 3: Offspring,en,Cancer-terminal tycoon Peter Murdoch's secret ...,Anaconda 3: Offspring,32.083,1/1/2008,4.9,240
9978,214597,False,Fright Night 2: New Blood,en,"By day Gerri Dandridge is a sexy professor, bu...",Fright Night 2: New Blood,10.698,31/8/2013,4.9,230
9979,11802,False,Space Chimps,en,Three chimps are sent into space to explore th...,Space Chimps,13.966,25/6/2008,4.9,366

# Google Sheets Configuration

1. Download the JSON File for your credentials/key from Google Cloud Platform 
[Note: It is important to enable Google Drive API and Google Sheets API]

2. Create a Google Sheet (https://docs.google.com/spreadsheets), and provide a name to it.

3. Share the google sheet with your service account E-mail address.

In [4]:
#Provide the location for your credentials/secret key
service_account = gspread.service_account(filename='files/lion-bleach-tiger-2368139dh.json') #sample filename

#Importing the Worksheet by specifying it's name and Worksheet name
worksheet = service_account.open("g").worksheet('Sheet1') #'g': is the name of the worksheet | 'Sheet1': Sheet name

#Clearing the Sheet (in case you want to update it later using the updated dataset) 
#worksheet.clear() #Uncomment this command to clear the worksheet

In [5]:
set_with_dataframe(worksheet, df) #Adding the dataframe to the Worksheet

# Preview Updated Worksheet

1. Copy the URL of your Google Sheet and Change to Permission to "Anybody with the link can view"
2. Preview the Worksheet

In [6]:
sheet_url = "https://docs.google.com/spreadsheets/d/dsfkjsfbkdlbljkdbjkasjfkbskdbs/edit#gid=0" #sample url
file_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

In [7]:
pd.read_csv(file_url, on_bad_lines='skip')

,id,adult,title,original_language,overview,title.1,popularity,release_date,vote_average,vote_count
0,278,False,The Shawshank Redemption,en,Framed in the 1940s for the double murder of h...,The Shawshank Redemption,86.715,23/9/1994,8.7,21988
1,19404,False,Dilwale Dulhania Le Jayenge,hi,"Raj is a rich, carefree, happy-go-lucky second...",Dilwale Dulhania Le Jayenge,54.110,19/10/1995,8.7,3769
2,238,False,The Godfather,en,"Spanning the years 1945 to 1955, a chronicle o...",The Godfather,121.661,14/3/1972,8.7,16371
3,424,False,Schindler's List,en,The true story of how businessman Oskar Schind...,Schindler's List,55.646,15/12/1993,8.6,13038
4,240,False,The Godfather Part II,en,In the continuing saga of the Corleone crime f...,The Godfather Part II,62.479,20/12/1974,8.6,9868
...,...,...,...,...,...,...,...,...,...,...
9975,19543,False,Anacondas: Trail of Blood,en,"A genetically created Anaconda, cut in half, r...",Anacondas: Trail of Blood,33.694,27/2/2009,4.9,227
9976,240483,False,Robot Overlords,en,Earth has been conquered by robots from anothe...,Robot Overlords,32.508,29/1/2015,4.9,213
9977,14863,False,Anaconda 3: Offspring,en,Cancer-terminal tycoon Peter Murdoch's secret ...,Anaconda 3: Offspring,32.083,1/1/2008,4.9,240
9978,214597,False,Fright Night 2: New Blood,en,"By day Gerri Dandridge is a sexy professor, bu...",Fright Night 2: New Blood,10.698,31/8/2013,4.9,230
9979,11802,False,Space Chimps,en,Three chimps are sent into space to explore th...,Space Chimps,13.966,25/6/2008,4.9,366